[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IPEDS"]
	path = IPEDS
	url = https://github.com/ajhaller/ipeds
	shallow = true
	registered = true
